*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

Data/Forklifts/*/*/*.csv
Data/WLTC/*/*/*.csv

Files/*.Rds

Files/Forklifts/*.Rds
Files/WLTC/*.Rds

Files/Models/MLR/*.Rds
Files/Models/SVR/*.Rds
Files/Models/RF/*.Rds

Files/Models/NN/*/*/

Files/RandomModels/MLR/*.Rds
Files/RandomModels/SVR/*.Rds
Files/RandomModels/RF/*.Rds
Files/RandomModels/NN/*.Rds


README.rmd