.Rproj.user
.Rhistory
.RData
.Ruserdata

*.zip

Data/Forklifts/*/*/*.csv
Data/WLTC/*/*/*.csv

Files/Models/MLR/*
Files/Models/SVR/*
Files/Models/RF/*
Files/Models/NN/*

Figures/*_wo_FEC.pdf
Figures/folder.png

README.rmd
